nav{
	background-color: #15CAA2;
}

.tabs .indicator{
	background-color: green;
}

.tabs .tab a {
    color: #15CAA2;
}
.tabs .tab a:hover {
    color: green;
}

main .container {
    padding-top: 10px;
    min-height: 100%;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: orange;
}